
  
.carousel-control-prev {
    margin-left: -100px;
    margin-bottom: 50px;
    filter: invert(100%);
    
    }
  
.carousel-control-next {
    margin-right: -100px;
    margin-bottom: 50px;
    filter: invert(100%);
    }

.categories img{
    width: 100px;
}